#
# Releaser workflow setup
# https://goreleaser.com/ci/actions/
#
name: release

# run only on tags
on:
  push:
    tags:
      - 'v*'  # Run pn Push tag 

permissions:
   contents: write # needed to write releases
   id-token: write # needed for keyless signing
   packages: write # needed for ghcr access

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # this is important, otherwise it won't checkout the full tree (i.e. no previous tags)
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21    # Go version
          cache: true
      - name: Run tests
        run: go test ./... -coverprofile=coverage.out -coverpkg=./... -covermode=atomic
        
      - uses: sigstore/cosign-installer@v3.1.2         # installs cosign
      - uses: anchore/sbom-action/download-syft@v0.14.3 # installs syft
      - uses: goreleaser/goreleaser-action@v5          # run goreleaser
        id: goreleaser
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: verify release
        run: |
          COMMIT=$(git rev-list --tags --max-count=1)
          TAG=$(git describe --tags ${COMMIT})
          wget https://github.com/intelops/genval/releases/download/${TAG}/checksums.txt
          cosign verify-blob \
            --certificate-identity "https://github.com/intelops/genval/.github/workflows/release.yaml@refs/tags/${TAG}" \
            --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
            --cert "https://github.com/intelops/genval/releases/download/${TAG}/checksums.txt.pem" \
            --signature "https://github.com/intelops/genval/releases/download/${TAG}/checksums.txt.sig" \
            ./checksums.txt
          
 
          
        
      